<p class="OLSKFollow"><%- OLSKFormatted(OLSKLocalized('OLSKFollowTextFormat'), '<a class="OLSKFollowTwitter" target="_blank" href="https://rosano.ca/twitter">Twitter</a>', '<a class="OLSKFollowMastodon" target="_blank" href="https://rosano.ca/mastodon">Mastodon</a>') %></p>
