<p class="OLSKFollow"><%- OLSKFormatted(OLSKLocalized('OLSKFollowTextFormat'), '<a class="OLSKFollowTwitter" target="_blank" href="https://twitter.com/rosano">Twitter</a>', '<a class="OLSKFollowMastodon" target="_blank" href="https://mastodon.online/@rosano">Mastodon</a>') %></p>
